# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Keil uVision specific
*.uvguix.*
*.dep
*.bak
*.crf
*.lnp
*.sct
out_580/

# Windows/WSL artifacts
*:Zone.Identifier
unused.txt:Zone.Identifier

# --- Dialog DA14580 SDK Exceptions ---
# Track pre-compiled ROM patches normally ignored by *.obj
!DA1458x_SDK/5.0.4/sdk/platform/patch_code/DA14580/obj/*.obj

# Track memory scatter files normally ignored by *.sct
!DA1458x_SDK/5.0.4/sdk/common_project_files/scatterfiles/*.sct